@model NewAccountViewModel
@{
    Layout = "_EnterLayout";
}

    <form asp-action = "Register" asp-controller="Account" method = "post">
        <div class = "he">
             <h3>Аккаунт</h3>
        </div>

        <label for="UIE">Уникальный идентификатор работника</label>
        <input asp-for = "UIE" type="text" placeholder="Введите созданный ранее УИР" id="fio">
        <span asp-validation-for = "UIE" class = "text-danger"></span>

        <label for="Login">Логин</label>
        <input asp-for = "Login" type="text" placeholder="Придумайте логин" >
        <span asp-validation-for = "Login" class = "text-danger"></span>

        <label for="Password">Пароль</label>
        <input asp-for = "Password" type="password" placeholder="Придумайте пароль">
        <span asp-validation-for = "Password" class = "text-danger"></span>

        <h5>@ViewBag.msg</h5>

        @*<label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">*@

        <button>Создать аккаут</button>
        
    </form>


