@{
    Layout = "_EnterLayout";
}

    <form asp-action = "Sad">
        
        <div class = "he">
             <h3>Печально</h3>
        </div>
       <br />
       <br />
       <br />
        <h1>Очень жаль :(</h1>
        <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
        

        <div class="social">
          <a asp-controller = "Account" asp-action = "Login" class="go btn">Вход</a>
          <a asp-controller = "Account" asp-action = "Register" class="fb btn">Регистрация</a>
        </div>
        
    </form>

    
           

